@charset "UTF-8";
.name1{font-size: xx-small;}
.name2{font-size: x-small;}
.name3{font-size: small;}
.name4{font-size: }
.name5{font-size: medium;}
.name6{font-size: large;}
.name7{font-size: x-large;}
.name8{font-size: xx-large;}